
;键盘扫描配置文件。
;目前只支持16进制格式，包括字节和双字节，其它格式暂不支持。
;格式、顺序和数量都不能修改。可以加注释，行首以';'开始，后面为注释。

;键值：双字节，用于键值表和Fn映射功能，高2bit为大分类
; 00为普通按键(见附表一)
; 01为控制按键(见附表二)，或模拟鼠标按键(见附表四)
; 10为多媒体按键(见附表三)
; 11为保留

;Fn映射功能：1，当不用ThinkPad小键盘模式时，ThinkPad小键盘映射表可作为Fn映射表，共36个按键可以与Fn配合有第二功能
;            2，非ThinkPad键盘可用Fn锁定功能

;Pn映射功能：Pn映射在默认键值表0x80以上区，双数地址键值表示扫描码，单数地址键值表示映射功能

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 引脚配置 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;LED驱动引脚( num cap scroll )
0x16 0xff 0xff

;电池电量低阀值(乘以20mV,9b=3.1V)，电池充电引脚，PWM背光控制
0x9b 0xff 0xff

;驱动pin数量
0x10
;驱动pin列表
;20字节
0x0a 0x09 0x08 0x07 0x05 0x04 0x03 0x02    0x01 0x00 0x1e 0x1d 0x1c 0x1b 0x1a 0x19
0xff 0xff 0xff 0xff 

;感知pin数量
0x08
;感知pin列表
;20字节
0x0b 0x0c 0x0d 0x0e 0x0f 0x10 0x11 0x12    0xff 0xff 0xff 0xff 0xff 0xff 0xff 0xff
0xff 0xff 0xff 0xff 

;键值表:
;先用读取扫描码功能记录下各按键的扫描值，然后在下表相应位置填写HID键值
;192个双字节
;       0      1      2      3      4      5      6      7         8      9      a      b      c      d      e      f
;0x0X
        0x0011 0xffff 0x002c 0xffff 0x0005 0x0038 0xffff 0x0051    0xffff 0x004f 0x4003 0x8225 0xffff 0x0050 0xffff 0x4006
;0x1X
        0x0010 0x0036 0x0028 0x0037 0x0019 0xffff 0x0006 0xffff    0x001b 0xffff 0x001d 0x8224 0x4005 0x0048 0x4004 0xffff
;0x2X
        0x0024 0x0025 0x0043 0x0026 0x0021 0x0027 0x0020 0x0044    0x001f 0x0045 0x001e 0x004e 0xffff 0x004d 0xffff 0x0046
;0x3X
        0x000d 0x000e 0x0031 0x000f 0x0009 0x0033 0x0007 0x80e2    0x0016 0xffff 0x0004 0x0065 0xffff 0xffff 0xffff 0xffff
;0x4X
        0x0018 0x000c 0xffff 0x0012 0x0015 0x0013 0x0008 0x80e9    0x001a 0xffff 0x0014 0x4003 0xffff 0xffff 0xffff 0x0047
;0x5X
        0x001c 0x0030 0x002a 0x0040 0x0017 0x002f 0x003c 0x80ea    0x0039 0x4003 0x002b 0xffff 0x4001 0xffff 0xffff 0xffff
;0x6X
        0x0023 0x002e 0x0042 0x0041 0x0022 0x002d 0x003b 0x004c    0x003a 0x0049 0x0035 0x004b 0xffff 0x004a 0x4000 0xffff
;0x7X
        0x000b 0x003f 0x003e 0xffff 0x000a 0x0034 0x003d 0xffff    0xffff 0xffff 0x0029 0xffff 0xffff 0x0052 0xffff 0x4002
;以下可作为Pn映射区
;0x8X
        0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff    0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff
;0x9X
        0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff    0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff
;0xaX
        0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff    0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff
;0xbX
        0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff    0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff

;Fn键模(0xff 无此功能，0x00 IO模式，0x01 矩阵模式)式和引脚或扫描码
0x00 0x06

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; Fn映射表 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;扫描码  18个字节
;
0x07   0x7d   0x0d   0x09   0xff   0xff   0xff   0xff      0xff   0xff   0xff   0xff   0xff   0xff   0xff   0xff   0xff   0xff
;键值    18个双字节
0x80cd 0x80b7 0x80b6 0x80b5 0xffff 0xffff 0xffff 0xffff    0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff 0xffff

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 快捷配置 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;HID键值(附表一) 功能配置键和RF信道选择键 2个字节
0x49 0x48
;RF信道快速选择方式二。第一字节：0:只用Fn，1:只用控制按键，2:Fn加控制按键。第二字节usb report中的控制键值
0x02 0x01

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 特殊功能 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;ThinkPad Num键扫描码, 其它键盘可用作Fn锁定功能。第二个字节为0xfe表示Fn+第一个字节
0x4f 0xfe
;ThinkPad 小键盘映射表
;扫描码  18个字节
;
0x25   0x45   0x35   0x05   0x12   0x30   0x31   0x33      0x40   0x41   0x43   0x20   0x21   0x23   0x10   0x13   0x4f   0xff
;键值    18个双字节
0x0054 0x0055 0x0056 0x0057 0x0058 0x0059 0x005a 0x005b    0x005c 0x005d 0x005e 0x005f 0x0060 0x0061 0x0062 0x0063 0x0053 0xffff

;win键禁止键扫描码, 第二个字节为0xfe表示Fn+第一个字节
0x4b 0xfe

;小红点开关键扫描码, 第二个字节为0xfe表示Fn+第一个字节
0x63 0xfe

;键盘休眠扫描码, 第二个字节为0xfe表示Fn+第一个字节
0xb8 0xfd

;背光变亮
0xff 0xff
;背光变暗
0xff 0xff
;背光level(百分比)列表，6字节。第一个字节为0（若高电平关闭则为100），表示关闭，否则无法关闭背光。最大0x64(100)。
0x00 0x14 0x28 0x3c 0x50 0x64   ; 0 20 40 60 80 100

;返回按键配置(3字节)：
;第一字节按键类型：0x00 普通按键    第二字节为控制按键键值 第三字节为键值
;                  0x01 多媒体按键  第二三字节为键值
0x00 0x04 0x50

;可编程按键(5组)：扫描码(2字节)，位置，长度
0x77 0xfd 0x00 0x11
0xff 0xff 0x00 0x00
0xff 0xff 0x00 0x00
0xff 0xff 0x00 0x00
0xff 0xff 0x00 0x00
;可编程按键内容(40组)：report(8字节)，延时(10ms,最后一组延时为0代表不发送所有按键抬起report)
;win+r www.51nb.com
;位置0x0X
0x08 0x00 0x15 0x00 0x00 0x00 0x00 0x00 0x05    ; win + r
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x05    ; 
0x00 0x00 0x1a 0x00 0x00 0x00 0x00 0x00 0x05    ; w
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x05    ; 
0x00 0x00 0x1a 0x00 0x00 0x00 0x00 0x00 0x05    ; w
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x05    ; 
0x00 0x00 0x1a 0x00 0x00 0x00 0x00 0x00 0x05    ; w
0x00 0x00 0x37 0x00 0x00 0x00 0x00 0x00 0x05    ; .
0x00 0x00 0x22 0x00 0x00 0x00 0x00 0x00 0x05    ; 5
0x00 0x00 0x1e 0x00 0x00 0x00 0x00 0x00 0x05    ; 1
0x00 0x00 0x11 0x00 0x00 0x00 0x00 0x00 0x05    ; n
0x00 0x00 0x05 0x00 0x00 0x00 0x00 0x00 0x05    ; b
0x00 0x00 0x37 0x00 0x00 0x00 0x00 0x00 0x05    ; .
0x00 0x00 0x06 0x00 0x00 0x00 0x00 0x00 0x05    ; c
0x00 0x00 0x12 0x00 0x00 0x00 0x00 0x00 0x05    ; o
0x00 0x00 0x10 0x00 0x00 0x00 0x00 0x00 0x05    ; m
;位置0x1X
0x00 0x00 0x28 0x00 0x00 0x00 0x00 0x00 0x05    ; enter
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
;0x2X
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 
0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00    ; 

;填充，为检测是否正确分析了此文件
0xaa 0xbb 0xcc 0xdd 0xaa 0xbb 0xcc 0xdd
0xaa 0xbb 0xcc 0xdd 0xaa 0xbb 0xcc 0xdd
0xaa 0xbb 0xcc 0xdd 

;引脚配置文件版本
0x04

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 附表一，普通按键HID键值。
;         低字节参看Hut1_12v2.pdf page 53。
;         高字节低6bit，可写控制按键，例如0x0204为LSHIFT+a。RGUI和RALT不可实现。
;         0x01xx LCTRL    0x02xx LSHIFT    0x04xx LALT    0x08xx LGUI    0x10xx RCTRL    0x20xx RSHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Keyboard_a                      0x0004
; Keyboard_b                      0x0005
; Keyboard_c                      0x0006
; Keyboard_d                      0x0007
; Keyboard_e                      0x0008
; Keyboard_f                      0x0009
; Keyboard_g                      0x000a
; Keyboard_h                      0x000b
; Keyboard_i                      0x000c
; Keyboard_j                      0x000d
; Keyboard_k                      0x000e
; Keyboard_l                      0x000f
; Keyboard_m                      0x0010
; Keyboard_n                      0x0011
; Keyboard_o                      0x0012
; Keyboard_p                      0x0013
; Keyboard_q                      0x0014
; Keyboard_r                      0x0015
; Keyboard_s                      0x0016
; Keyboard_t                      0x0017
; Keyboard_u                      0x0018
; Keyboard_v                      0x0019
; Keyboard_w                      0x001a
; Keyboard_x                      0x001b
; Keyboard_y                      0x001c
; Keyboard_z                      0x001d
; Keyboard_1                      0x001e
; Keyboard_2                      0x001f
; Keyboard_3                      0x0020
; Keyboard_4                      0x0021
; Keyboard_5                      0x0022
; Keyboard_6                      0x0023
; Keyboard_7                      0x0024
; Keyboard_8                      0x0025
; Keyboard_9                      0x0026
; Keyboard_0                      0x0027
; Keyboard_Return                 0x0028
; Keyboard_ESCAPE                 0x0029
; Keyboard_Backspace              0x002a
; Keyboard_Tab                    0x002b
; Keyboard_Spacebar               0x002c
; Keyboard_minus                  0x002d    -
; Keyboard_equal                  0x002e    =
; Keyboard_bracketleft            0x002f    [
; Keyboard_bracketright           0x0030    ]
; Keyboard_backslash              0x0031    \
; Keyboard_semicolon              0x0033    ;
; Keyboard_quote                  0x0034    '
; Keyboard_backquote              0x0035    `
; Keyboard_comma                  0x0036    ,
; Keyboard_dot                    0x0037    .
; Keyboard_slash                  0x0038    /
; Keyboard_CapsLock               0x0039
; Keyboard_F1                     0x003a
; Keyboard_F2                     0x003b
; Keyboard_F3                     0x003c
; Keyboard_F4                     0x003d
; Keyboard_F5                     0x003e
; Keyboard_F6                     0x003f
; Keyboard_F7                     0x0040
; Keyboard_F8                     0x0041
; Keyboard_F9                     0x0042
; Keyboard_F10                    0x0043
; Keyboard_F11                    0x0044
; Keyboard_F12                    0x0045
; Keyboard_PrintScreen            0x0046
; Keyboard_ScrollLock             0x0047
; Keyboard_Pause                  0x0048
; Keyboard_Insert                 0x0049
; Keyboard_Home                   0x004a
; Keyboard_PageUp                 0x004b
; Keyboard_Delete                 0x004c
; Keyboard_End                    0x004d
; Keyboard_PageDown               0x004e
; Keyboard_RightArrow             0x004f
; Keyboard_LeftArrow              0x0050
; Keyboard_DownArrow              0x0051
; Keyboard_UpArrow                0x0052
; Keyboard_Application            0x0065
; Keyboard_Power                  0x0066
; Keypad_NumLock                  0x0053
; Keypad_slash                    0x0054    /
; Keypad_multiply                 0x0055    *
; Keypad_minus                    0x0056    -
; Keypad_plus                     0x0057    +
; Keypad_ENTER                    0x0058
; Keypad_1                        0x0059
; Keypad_2                        0x005a
; Keypad_3                        0x005b
; Keypad_4                        0x005c
; Keypad_5                        0x005d
; Keypad_6                        0x005e
; Keypad_7                        0x005f
; Keypad_8                        0x0060
; Keypad_9                        0x0061
; Keypad_0                        0x0062
; Keypad_dot                      0x0063    .

; 以下为非HID按键，键盘内部使用
; KEYCODE_PN                      0x00fd    Pn按键
; KEYCODE_FN                      0x00fe    Fn按键

; KEYCODE_FN0                     0x00e0    层0非锁定
; KEYCODE_FN1                     0x00e1    层1非锁定
; KEYCODE_FN2                     0x00e2
; KEYCODE_FN3                     0x00e3
; KEYCODE_FN4                     0x00e4
; KEYCODE_FN5                     0x00e5
; KEYCODE_FN6                     0x00e6
; KEYCODE_FN7                     0x00e7
; KEYCODE_FN0_LOCK                0x00e8    层0锁定
; KEYCODE_FN1_LOCK                0x00e9    层1锁定
; KEYCODE_FN2_LOCK                0x00ea
; KEYCODE_FN3_LOCK                0x00eb
; KEYCODE_FN4_LOCK                0x00ec
; KEYCODE_FN5_LOCK                0x00ed
; KEYCODE_FN6_LOCK                0x00ee
; KEYCODE_FN7_LOCK                0x00ef

; KEYCODE_FN_CLEAR                0x00f0    清除层锁定，切换回默认键值表。
;                                           如果默认键值表或Fn映射表中没有定义此键值，则按下锁定层按键会在锁定层和默认层切换。

; KEYCODE_PROGKEY0                0x00f1    发送可编程按键0
; KEYCODE_PROGKEY1                0x00f2
; KEYCODE_PROGKEY2                0x00f3
; KEYCODE_PROGKEY3                0x00f4
; KEYCODE_PROGKEY4                0x00f5

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 附表二，控制按键
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; RGUI                            0x4007
; RALT                            0x4006
; RSHIFT                          0x4005
; RCTRL                           0x4004
; LGUI                            0x4003
; LALT                            0x4002
; LSHIFT                          0x4001
; LCTRL                           0x4000

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 附表三，多媒体按键HID键值
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Mute                            0x80e2
; Volume Up                       0x80e9
; Volume Down                     0x80ea
; Tracking Increment              0x80b5
; Tracking Decrement              0x80b6
; Stop/Eject                      0x80b7
; Play/Pause                      0x80cd
; AC Forward                      0x8225
; AC Back                         0x8224
; AL Calculator                   0x8192

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 附表四，模拟鼠标
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Left Key                        0x5001
; Right Key                       0x5002
; Middle Key                      0x5004
; Move Left                       0x51fe
; Move Right                      0x5102
; Move Up                         0x5202
; Move Down                       0x52fe
; Wheel Up                        0x5301
; Wheel Down                      0x53ff
